@import '@fontsource/blinker';
body {
	font-family: 'Blinker', sans-serif;
}
a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
